<div class="user_info">
    <div class="user_profile_wrapper">
      <img class="user_profile" src=<%= user.photo %> alt="user-img">
    </div>
    <div class="details">
      <p class="user_name"> UserName: <%= user.name %></p>
      <p class="number_posts"> Number of Posts: <%= user.posts_counter %></p>
    </div>
</div>