<div class="user_information">
  <%= render partial:'shared/user_profile', locals: { user: @user } %>
  <%= render partial:'user_bio', locals: { name: @user.bio } %>

  <ul class="posts_list">
  <%# use the collection option to further improve efficiency. 
  This helps Rails to generate the necessary HTML more efficiently %>
    <%= render partial: 'shared/user_posts', collection: @recent_posts, as: :post %>
  </ul>
  <a href="<%= user_posts_path(@user) %>">Show all the post</a>
</div>