<div class="user_information">
  <%= render partial:'shared/user_profile', locals: { user: @user } %>
  <%= render partial:'user_bio', locals: { name: @user.bio } %>

  <ul class="posts_list">
    <% @recent_posts.each_with_index do |post,i| %>
      <%= render partial: 'shared/user_posts',
        locals: { post: post, order: i + 1 }
      %>
    <% end %>
  </ul>
  <a href="<%= user_posts_path(@user) %>">Show all the post</a>
</div>