<div class="post_details border">
  <p class="post_title"> Post#<%= order %> </p>
  <p class="post_title"> <%= post.text %> </p>
  <p class="number">
    Comments: <%= post.comments_counter %>
    Likes: <%= post.likes_counter %>
  </p>
</div>