<div class="posts_for_user">
  <%# use the collection option to render the partials more efficiently. %>
  <%= render partial: 'shared/user_profile', locals: { user: @user } %>
  <ul class="posts_list border">
    <%= render partial: 'shared/user_post_with_comments', collection: @posts, as: :post_with_comments %>
  </ul>
  <a class="create_post" href="<%= new_user_post_path(@user) %>"> Create New Post</a>
</div>