<div class="post&comments border">
  <%= render partial: 'post_comments',
    locals: { post: @post, user: @user}
  %>

  <%= render partial: 'shared/post_comments',
    locals: { comments:@comments}
  %>
</div>