<div class="post&comments border">
  <%= render partial: 'post_details',
    locals: { post: @post}
  %>
  <%= render partial: 'shared/comments_of_post',
    locals: { comments:@comments}
  %>
  <a class="add_comment" href="<%= new_user_post_comment_path(@user, @post) %>">Add comment</a>
  <%= render partial: 'likes/form' %>
</div>