/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

p,
button,
span {
  font-size: 1.6rem;
}

.main_container {
  width: 90%;
  margin: 4rem;
}

.users_container {
  border: 1px solid black;
}

.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin: 2rem 0;
  padding: 2rem;
  border: 1px solid black;
}

.details {
  flex: 1 1 0;
}

.number {
  text-align: right;
}

.user_name {
  font-size: 4rem;
}

.user_profile {
  width: 200px;
  height: 200px;
}

.post_details {
  margin: 1rem 0;
  border: 1px solid black;
}
